<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Bundle Name="Scripture Plugin" Version="1.0.0.0" Manufacturer="Dmytro Vakulenko" UpgradeCode="1132b1b1-91e1-4b1d-9364-2a62b2b20d7c">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl="https://yourdomain.com/license.txt"
        ShowVersion="yes"
        SuppressOptionsUI="no" />
    </BootstrapperApplicationRef>

    <Chain>
      <!-- .NET 8 Desktop Runtime Installer -->
      <ExePackage Id="Net8DesktopRuntimeInstaller"
                  SourceFile="bin\Debug\dotnet-runtime-8.0.8-win-x64.exe"
                  Compressed="yes"
                  InstallCommand="/quiet /norestart"
                  DetectCondition="Net8DesktopRuntimeFound"
                  Permanent="yes"
                  Vital="yes">
        <ExitCode Behavior="forceReboot" Value="3010" />
      </ExePackage>

      <!-- Main MSI Installer -->
      <MsiPackage SourceFile="..\Scripture.Installer\bin\$(var.Configuration)\ScriptureAutocadPlugin.msi" DisplayInternalUI="yes" />
    </Chain>
  </Bundle>

  <Fragment>
    <util:RegistrySearch Id="Net8DesktopRuntimeFound"
                         Root="HKLM"
                         Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedfx\Microsoft.WindowsDesktop.App"
                         Value="Version"
                         Variable="Net8DesktopRuntimeFound" />
  </Fragment>
</Wix>
